/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"); */
/* Text styles */
/* about us  */
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400&display=swap");

:root {
  --blue: hsla(209, 78%, 16%, 0.65);
  --grey: hsla(13, 6%, 70%, 0.65);
  --lightblue: hsla(209, 23%, 39%, 0.65);
}

h1,
h2,
h3,
h4,
h6,
a,
p {
  font-family: "Arima", cursive, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

h5,
h6,
a,
p {
  font-weight: 300;
}
/* styles for social icons */
.icons {
  width: 100%;
  background-color: blue; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, lightblue, blue);
  overflow: auto;
  justify-content: space-around;
}

.icons a {
  float: right;
  padding: 4px;
  border-left: 1px solid #bbb;
  margin-right: 10px;
}

/* styles for navbar */
/* .nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  top: 0;
  background-image: linear-gradient(#4b657c);
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
} */

/* the background image responsive */

#card__image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background: linear-gradient(135deg, var(--blue), var(--lightblue)) no-repeat
    center center / cover;
}

.about-us {
  position: relative;
  width: 100%;
  height: 100%;
}
.about-us img {
  height: auto;
  width: 420px;
}
.about-text {
  width: 550px;
}
main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1 {
  color: black;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text p {
  color: #bbb;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.img1 {
  position: absolute;
  z-index: 2;
  top: 75px;
  left: 75px;
}
.img2 {
  position: absolute;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}

#img1 {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 2;
}

#img2 {
  display: block;

  position: absolute;
}

/* .icon1,
.icon2,
.icon3 {
  width: 25%;
} */

.underline {
  text-decoration: none;
  position: relative;
}

.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: left auto;
  left: 0;
  right: 0;
  width: 15%;
  background-color: rgb(0, 119, 255);
}
